BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentWidth: 4
SpaceBeforeParens: Never
PointerAlignment: Middle
AlignConsecutiveAssignments: true
AlignOperands: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
ColumnLimit: 120
NamespaceIndentation: All
ReflowComments: true
SortIncludes: true
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true
Standard: Auto
Cpp11BracedListStyle: true
AlwaysBreakTemplateDeclarations: true
UseTab: Never
FixNamespaceComments: false
